@page {
	margin: 1.5cm;
}

body {
	font-family: "Apercu Pro", "Segoe UI", sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	margin: 1.5em 0 0 0;
}

body #main {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#main > p,
#main > ul {
	max-width: 768px;
}

p {
	position: relative;
	margin: 0 0 1em 20%;
	line-height: 1.5em;
	orphans: 3;
	widows: 3;
}

code {
	font-family: Monaco, Menlo, Consolas, monospace;
	font-weight: bold;
	color: #9a9;
}

p code {
	float: right;
	margin-left: 0.5em;
}

ul {
	margin: -0.5em 0 1.5em 20%;
}

h1, h2, h4 {
	font-family: "Apercu Pro", "Segoe UI", sans-serif;
	width: 80%;
	font-weight: 600;
	page-break-after: avoid;
}

h1 {
	width: 78%;
	margin: 0.5em 0 0.333em 20%;
	font-size: 2.6em;
	line-height: 1em;
	text-align: left;
	white-space: nowrap;
}

h1 + p {
	/* subtitle */
	font-style: italic;
	font-size: 110%;
}

h2 {
	position: relative;
	top: 1.4em;
	margin-top: 1.5em;
	width: 20%;
	box-sizing: border-box;
	padding-right: 1em;
	white-space: nowrap;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #c7462f;
	text-align: right;
}

a {
	color: inherit;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

p > strong:only-child,
p code + strong {
	font-size: 1.2em;
}
